@import 'vars';
@import 'colors';

.register-vehicle_tittle {
  text-align: center;
  margin-bottom: 20px;
}

.register-vehicle_button{
  background-color: $blue-color;
  color: $white-color;
  padding: 10px 20px;
}

.register-vehicle_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  &>:not(:last-child) {
    margin-bottom: 20px;
    background-color: $light-white-color;
    padding: 10px 20px;
  }
}
