$container-padding: 70px;
$nav-bar-margin-items: 70px;

$card-border-width: 140px;
$card-border-height: 140px;

$x-small-size: 14px;
$x-small-height: 17px;

$small-size: 16px;
$small-height: 19px;

$medium-size: 16px;
$medium-height: 20px; //

$medium-tittle-size: 20px;
$medium-tittle-height: 20px;

$medium-large-size: 30px;
$medium-large-height: 37px; //

$large-size: 34px;
$large-height: 50px;

$x-large-size: 38px;
$x-large-height: 47px; //
