@import 'colors';
@import 'vars';


.vehicles-list__item {
  background-color: $light-white-color;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.vehicles-list{
  margin-top: 25px;
}

.vehicles__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vehicles-list__item_image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
